:root{
  --general-color: #FFFFFF;
  --letter-one: #423F40;
  --back-letter:#5D3BEF;
  --letter-two: #222222;
  --back-item: #F9F5F2;
  --letter-3: #8E7BEF;
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--general-color);
}

.container{
  width: 80%;
 margin: auto;
 }

h1{
  color:var(--letter-two) ;
  font-size: 80px;
  height: 160px;
 }
 @media(max-width:480px){
  h1{
    font-size: 30px;
    height: 30px;
  }
 }
 
 p{
  color: var(--letter-one);
 }
 /*nav*/
 .menu-var{
  display: flex;
  justify-content:center;
  }
  
  @media(max-width:480px){
    .menu-var{
      justify-content: flex-end;
    }
  }
  
  .menu-var a{
  margin-left: 40px;
  color: var(--letter-two);
  text-decoration: none;
  }

.menu-var a:first-child{
  color: var(--back-letter);
}
.menu-var a:hover{
  color: var(--back-letter);
}
@media (max-width: 480px){
  .menu-var a{
    display:none ;
}
}
.material-symbols-outlined{
  display:none ;
  }

@media (max-width: 480px){
  .material-symbols-outlined{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
    font-size: 40px;
  }
}


/*product*/

.product{
  margin: auto;
  display: flex;
  justify-content:space-around;
  flex-wrap: nowrap;
  padding:0 150px 0 150px
}
@media(max-width:480px){
  .product{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0;
 }
}


 .product-content{
  padding: 0 50px 0 50px;
  }
  @media(max-width:480px){
    .product-content{
      padding: 0;
    }
  }
  @media(max-width:480px){
    .product-content  p{
      margin-top: 50px;
      align-content: center;
      align-items: center;
      text-align: justify;
    }
  }
  

 
 
 
 
 .icons{
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  color: var(--back-letter);
  font-size: 30px;
  }
  @media(max-width:480px){
    .icons{
      width: 100%;
    }
  }
  

.btn{
  height: 30px;
  text-decoration: none;
  font-size: 12px;
  color: var(--general-color);
  background: var(--back-letter);
  padding: 10px 20px;
  align-content: center;
  width: 50%;
  align-items: center;
  border: none;
  }
  @media(max-width:480px){
    .btn{
      width: 100%;
      height: 40px;
      text-align: center;
      padding:0px;
    }
  }
  
   .fa-sharp fa-solid fa-envelope{
    color: var(--general-color);
    font-size: 15px;
  }

  
 
  
 /*seccion about/acerca de mi*/
  .about{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 0 10% 0 10%;
  flex-wrap: nowrap;
}
@media(max-width:480px){
  .about{
    padding: 0;
  }
}


 h2{
  color: var(--letter-two);
  }
  @media(max-width:480px){
    h2{
      align-items: center;
    }
  }
  
.about p{
  text-align:center;
  margin-top: 20px;
  line-height: 26px;
  color: var(--letter-one);
}
/*habilidades*/
.habilidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px ;
  padding: 0 100px 0 100px;
}
@media(max-width:480px){
  .habilidades h2{
    width: 100vw;
    text-align: center;
  }
}



.habili-items{
  display: grid;
  grid-template: repeat(1,1fr)/repeat(4,1fr);
  gap: 50px;
 }
 @media(max-width:480px){
  .habili-items{
    width: 90vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  }
  }
  

.items {
  background-color: var(--back-item);
  padding: 15px 5px 75px 5px;
  margin-top: 50px;
  
}
.items3 {
  background-color: var(--back-item);
  padding: 15px 5px 75px 5px;
  margin-top: 50px;
  
}
.items h4{
  color: var(--letter-two);
  
 
}
.items3 h4{
  color: var(--letter-two);
  
 
}
.items p{
  font-size: 10px;
  text-align:left;
  margin-top: 15px;
  color: var(--letter-one);
}

.items3 p{
  font-size: 10px;
  text-align:left;
  margin-top: 15px;
  color: var(--letter-one);
}
@media(max-width:480px){
  .items3{
  display: none;
  }
  }
  
/*sector experiencia*/
.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px ;
  padding: 0 100px 0 100px;
}

.experience-sections{
  display: grid;
  grid-template: repeat(1,1fr)/ repeat(12,1fr);
  gap: 10px;
  margin-top: 50px;
 }
 @media(max-width:480px){
  .experience-sections{
    width: 100vw;
    grid-template: repeat(3,1fr)/ repeat(5,1fr);
    justify-items: center;
    align-items: center;
    
  }
}
 .fecha{
  font-size: 8px;
 }
 .job{
  font-size: 12px;
 }
 
@media(max-width:480px){
  .experience-sections{
    width: 50vh;
    grid-template: repeat(3,1fr)/ repeat(5,1fr);
    
  }
}
  
 
 
  .section9{
    grid-column: 11/13;
    justify-self: end;
    align-self: center;
  }
  @media(max-width:480px){
    .section9{
      grid-column: 4/6;
      grid-row: 3/4;
      align-self: center;
      justify-self:flex-end;
    }
  }
 

 
  
  
  
  .section8{
    grid-column: 10/11;
    align-self: center;
  }
  @media(max-width:480px){
    .section8{
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
 
 
  
 
  .section7{
    grid-column: 9/10;
  }
  @media(max-width:480px){
    .section7{
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
 
 
  .section6{
    grid-column: 7/9;
    justify-self: end;
    align-self: center;
  }
  @media(max-width:480px){
    .section6{
      grid-column: 5/6;
      grid-row: 2/3;
    }
  }
 
 
  .section5{
    grid-column: 6/7;
    align-self: center;
  }
  @media(max-width:480px){
    .section5{
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
 
 
  .section4{
    grid-column: 5/6;
  }
  @media(max-width:480px){
    .section4{
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
 
  
  .section3{
    grid-column: 3/5;
    justify-self: end;
    align-self: center;
  }
  @media(max-width:480px){
    .section3{
      grid-column: 4/6;
      grid-row: 1/2;
      align-self: center;
      justify-self:flex-end;
    }
  }
 
  .section2{
    grid-column: 2/3;
    align-self: center;
  }
  @media(max-width:480px){
    .section2{
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
 
 
  .section1{
    grid-column: 1/2;
  }
  @media(max-width:480px){
    .section1{
      grid-column: 1/2;
      grid-row: 1/2;
      
    }
  }
  
  
 
/*seccion portafolio*/
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px ;
  padding: 0 100px 0 100px;
}
.portfolio h2{
  padding-bottom: 30px;
}
.portfolio-items{
  display: grid;
  grid-template: repeat(1,1fr)/repeat(3,1fr);
  gap: 30px;
  }
  @media(max-width:480px){
    .portfolio-items{
      display: flex;
      flex-direction: column;
    }
  }
  /*seccion footer*/
    
  .contact {
    margin-top:50px ;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
  .contact h2{
    padding-bottom: 30px;
  }
  .items-contact{
    
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 30px 30px;
    justify-items: center;
    align-items: center;
  }
  @media(max-width:480px){
    .items-contact{
      grid-template-columns:1fr;
      grid-template-rows: repeat(6,1fr);
      width: 80vw;
      height: 400px;
      
    }
  }

  .item1{
    font-size: 60px;
    padding:20px;
    background-color: var(--back-item);
    border: 2px solid var(--back-item);
    border-radius: 30px;
   }
  @media(max-width:480px){
    .item1{
      
      grid-row: 1/2;
    } 
  }
  .item2{
    font-size: 60px;
    padding:20px;
    background-color: var(--back-item);
    border: 2px solid var(--back-item);
    border-radius: 30px;
    }
    @media(max-width:480px){
      .item2{
        
        grid-row:4/5;
      } 
    }
    item3{
      justify-self: center;
      align-self: center;
    }
    @media(max-width:480px){
      .item3{
        grid-row: 2/3;
        align-self: flex-end;
      } 
    }
    @media(max-width:480px){
      .item4{
        grid-row: 5/6;
        align-self: flex-end;
      } 
    }

  .item5{
    font-size: 10px;
    color:var(--letter-3);
  }
  @media(max-width:480px){
    .item5{
      grid-row: 3/4;
      align-self: flex-start;
      
    } 
  }
  .item6{
    font-size: 10px;
    color: var(--letter-3);
  }
  @media(max-width:480px){
    .item6{
      grid-row: 6/7;
      align-self: flex-start;
    } 
  }
  .end{
    color:var(--letter-3);
    padding: 50px 0 50px 0;
  }
  @media(max-width:480px){
    .end{
      width: 90vw;
      padding: 0px 0 100px 0;
      text-align: center;
      font-size: 13px;
    }
  }
  
  .fa-solid fa-heart{
    color: var(--back-letter);
    font-size: 12px;
  }
