:root{
  --general-color: #FFFFFF;
  --letter-one: #423F40;
  --back-letter:#5D3BEF;
  --letter-two: #222222;
  --back-item: #F9F5F2;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--general-color);
}

.container{
  width: 80%;
  
  margin: auto;
}

h1{
  color:var(--letter-two) ;
  font-size: 80px;
  height: 160px;
 }
 @media(max-width:48px){
  h1{
    
    font-size: 30px;
    
   }
 }
 p{
  color: var(--letter-one);
 }
 .menu{
  display: flex;
  justify-content:space-around;
  }
  
  
  
  
 .menu-var a{
  margin-left: 40px;
  color: var(--letter-two);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 480px){
  .menu-var a{
    display:none ;
}
}


.menu-var a:first-child{
  color: var(--back-letter);
}
.menu-var a:hover{
  color: var(--back-letter);
}
.material-symbols-outlined{
  display:none ;
  
}

@media (max-width: 480px){
  .material-symbols-outlined{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}




.product{
 
  height: 400px;
  margin: auto;
  display: flex;
  justify-content:space-around;
  flex-wrap: nowrap;
  padding:0 150px 0 150px
}
@media(max-width:480px){
  .product{
  
  
  flex-direction: column;
  justify-content:center;
  align-content:stretch;
  align-items:stretch;
  
  padding:0;
  column-gap: 20px;

}
}


 .product-content{
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  }
 
 
 
 
 .icons{
  width: 50%;
  display: flex;
  justify-content:space-between;
  padding: 20px 0 20px;
  color: var(--back-letter);
  
  
  
 
 }

.btn{
  text-decoration: none;
  font-weight: 600px;
  font-size: 13px;
  color: var(--general-color);
  background: var(--back-letter);
  padding: 6px 20px;
  align-content: center;
  width: 50%;
  }
  
 .about{
  
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 0 10% 0 10%;
  flex-wrap: nowrap;
}
@media(max-width:480px){
   .about{
    
    padding: 0;
    flex-wrap: wrap;
  }
}
 h2{
  color: var(--letter-two);
  }
  @media(max-width:480px){
    h2{
      align-items: center;
    }
  }
  
.about p{
  text-align:center;
  margin-top: 20px;
  color: var(--letter-one);
  line-height: 26px;
  
}
.habilidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px ;
  padding: 0 100px 0 100px;
}
@media(max-width:480px){
  .habilidades{
   
    padding: 0
  }
}

.habili-items{
  display: grid;
  grid-template: repeat(1,1fr)/repeat(4,1fr);
  gap: 50px;
  
}
.items{
  background-color: var(--back-item);
  padding: 15px 5px 75px 5px;
  margin-top: 50px;
  
}
.items h4{
  color: var(--letter-two);
  
 
}
.items p{
  font-size: 10px;
  text-align:left;
  margin-top: 15px;
  color: var(--letter-one);
}
.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px ;
  padding: 0 100px 0 100px;
}
.experience-items{
  display: grid;
  grid-template: repeat(1,1fr)/repeat(9,1fr);
  gap: 10px;
  
}
.sections{
  
  
  margin-top: 50px;
  
}
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px ;
  padding: 0 100px 0 100px;
}
.portfolio-items{
  display: grid;
  grid-template: repeat(1,1fr)/repeat(3,1fr);
  gap: 30px;
  
}
